{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2> 
    <div class="row mx-3">
    {% for listing in Listings %}
    {% if listing.is_active %}
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src={{listing.Image}} alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">{{listing.Title}}</h5>
          <p class="card-text">{{listing.Description}}.</p>
          Current Price : ${{listing.Current_price}}
         <div style="position: relative;top: 2px;left:0px;"><a href="{% url 'item' listing.id %}" class="btn btn-primary">Bid Now</a></div> 
        </div>
      </div>
    {% endif %}  
    {%endfor%}
    </div>
{% endblock %}  